
  .stacked--fan-left {
    transform-origin: center bottom;
    
    &:before,
    &:after {
        transform-origin: center bottom;
    }
    
    &:hover {
        transform: translate(-2.5px, 0) rotate(-2.5deg);
        
        &:before { transform: translate(2.5px, 0) rotate(2.5deg); }
        &:after { transform: translate(5px, 0) rotate(5deg); }
    }
}